* {
    margin : 0;
    padding: 0;
    text-align: center;
}

 h1 {
    text-align : center;
    height: 5rem;
    background-color: darkslateblue;
    color :white;
    line-height: 5rem;
}

.choices {
    display : flex;
    justify-content: center;
    gap : 3rem;
    align-items: center;
    margin-top: 5rem;

}

.choice {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display :flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: black;
}

img {
    height: 185px;
    width: 185px;
    border-radius: 50%;
    object-fit: cover;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap : 5rem;
    margin-top: 3rem;
}

#userscore, #compscore {
    font-size: 4rem;
}

.Message {
   margin-top:2rem;
}
#Msg {
    background-color: darkslateblue;
    color:beige;
    font-size: 2rem;
    display:inline;
    padding: 1rem;
    border-radius: 1rem;
}
